In [1]:
import pandas as pd

In [2]:
%pip install pymysql
%pip install openpyxl

Requirement already satisfied: pymysql in .\.venv\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in .\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in .\.venv\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from mysql import connector

In [4]:
import pymysql

conn_mysql = connector.connect
mydb = pymysql.connect(
host="localhost",
user="root",
password="1234"

)

mycursor=mydb.cursor()

In [5]:
mycursor.execute("create database securitycheck")

ProgrammingError: (1007, "Can't create database 'securitycheck'; database exists")

In [ ]:
df = pd.read_excel("E:\\Backup F4 26.04.2023\\Downloads\\traffic_stops.xlsx")

In [ ]:
display(df)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [ ]:
print(df.isnull().sum())

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [ ]:
df['search_type'] = (
    df.groupby(['country_name', 'driver_race'])['search_type']
      .transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))
)

In [ ]:

print("Remaining null values in search_type:", df['search_type'].isnull().sum())

Remaining null values in search_type: 0

In [ ]:
print(df.isnull().sum())

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [ ]:
display (df)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Frisk,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,False,UP89PT2924

In [ ]:
#drpped driver_raw_age
df = df.drop('driver_age_raw', axis=1)
display(df.head())

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [ ]:
display(df)

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,63,Black,Seatbelt,Other,False,Frisk,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,32,Other,Seatbelt,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,False,UP89PT2924

In [ ]:
create_table_query = """
CREATE TABLE IF NOT EXISTS traffic (
    stop_date DATE,
    stop_time TIME,
    country_name VARCHAR(100),
    driver_gender VARCHAR(50),
    driver_age INT,
    driver_race VARCHAR(50),
    violation_raw VARCHAR(255),
    violation VARCHAR(255),
    search_conducted VARCHAR(50),
    search_type VARCHAR(100),
    stop_outcome VARCHAR(100),
    is_arrested VARCHAR(5),
    stop_duration VARCHAR(50),
    drugs_related_stop VARCHAR(5),
    vehicle_number VARCHAR(50),
    KEY idx_date (stop_date),
    KEY idx_country (country_name),
    KEY idx_violation (violation)
);
"""

mycursor.execute("USE securitycheck;") 
mycursor.execute(create_table_query)
connector.connect()
print("Table 'traffic' created successfully!")

Table 'traffic' created successfully!

In [ ]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS traffic;")
print("MySQL database 'traffic' created successfully!")

MySQL database 'traffic' created successfully!

In [ ]:
try:
    # Convert DataFrame to list of tuples
    data_list = df.values.tolist()
    
    # Connect to the specific database
    connector = pymysql.connect(
        host="localhost",
        user="root",
        password="1234",
        database="securitycheck"  # Specify database
    )
    
    mycursor = connector.cursor()
    
    query = """
    INSERT INTO traffic (
        stop_date, stop_time, country_name, driver_gender,
        driver_age, driver_race, violation_raw,
        violation, search_conducted, search_type, stop_outcome,
        is_arrested, stop_duration, drugs_related_stop, vehicle_number
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    
    # Insert in batches to prevent memory issues
    batch_size = 1000
    for i in range(0, len(data_list), batch_size):
        batch = data_list[i:i + batch_size]
        mycursor.executemany(query, batch)
        connector.commit()
        print(f"Inserted batch {i//batch_size + 1}, {len(batch)} rows")

    print(f"Total {len(data_list)} rows inserted successfully!")

except pymysql.Error as e:
    print(f"MySQL Error: {e}")
    if connector:
        connector.rollback()
finally:
    if mycursor:
        mycursor.close()
    if connector:
        connector.close()

Inserted batch 1, 1000 rows
Inserted batch 2, 1000 rows
Inserted batch 3, 1000 rows
Inserted batch 4, 1000 rows
Inserted batch 5, 1000 rows
Inserted batch 6, 1000 rows
Inserted batch 7, 1000 rows
Inserted batch 8, 1000 rows
Inserted batch 9, 1000 rows
Inserted batch 10, 1000 rows
Inserted batch 11, 1000 rows
Inserted batch 12, 1000 rows
Inserted batch 13, 1000 rows
Inserted batch 14, 1000 rows
Inserted batch 15, 1000 rows
Inserted batch 16, 1000 rows
Inserted batch 17, 1000 rows
Inserted batch 18, 1000 rows
Inserted batch 19, 1000 rows
Inserted batch 20, 1000 rows
Inserted batch 21, 1000 rows
Inserted batch 22, 1000 rows
Inserted batch 23, 1000 rows
Inserted batch 24, 1000 rows
Inserted batch 25, 1000 rows
Inserted batch 26, 1000 rows
Inserted batch 27, 1000 rows
Inserted batch 28, 1000 rows
Inserted batch 29, 1000 rows
Inserted batch 30, 1000 rows
Inserted batch 31, 1000 rows
Inserted batch 32, 1000 rows
Inserted batch 33, 1000 rows
Inserted batch 34, 1000 rows
Inserted batch 35, 1000 rows
Inserted batch 36, 1000 rows
Inserted batch 37, 1000 rows
Inserted batch 38, 1000 rows
Inserted batch 39, 1000 rows
Inserted batch 40, 1000 rows
Inserted batch 41, 1000 rows
Inserted batch 42, 1000 rows
Inserted batch 43, 1000 rows
Inserted batch 44, 1000 rows
Inserted batch 45, 1000 rows
Inserted batch 46, 1000 rows
Inserted batch 47, 1000 rows
Inserted batch 48, 1000 rows
Inserted batch 49, 1000 rows
Inserted batch 50, 1000 rows
Inserted batch 51, 1000 rows
Inserted batch 52, 1000 rows
Inserted batch 53, 1000 rows
Inserted batch 54, 1000 rows
Inserted batch 55, 1000 rows
Inserted batch 56, 1000 rows
Inserted batch 57, 1000 rows
Inserted batch 58, 1000 rows
Inserted batch 59, 1000 rows
Inserted batch 60, 1000 rows
Inserted batch 61, 1000 rows
Inserted batch 62, 1000 rows
Inserted batch 63, 1000 rows
Inserted batch 64, 1000 rows
Inserted batch 65, 1000 rows
Inserted batch 66, 538 rows
Total 65538 rows inserted successfully!